<div class="sidebar-header">
    <h3 class="text-center">CSS</h3>
</div>

<ul class="list-unstyled components">
    <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home 1</a>
            </li>
            <li>
                <a routerLink="/home" routerLinkActive="active">Home 2</a>
            </li>
            <li>
                <a routerLink="/home" routerLinkActive="active">Home 3</a>
            </li>
        </ul>
    </li>
    <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li>
        <a href="#pagesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pagesSubmenu">
            <li>
                <a href="#">Page 1</a>
            </li>
            <li>
                <a href="#">Page 2</a>
            </li>
            <li>
                <a href="#">Page 3</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/">Portfolio</a>
    </li>
    <li>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
</ul>
