<div class="sidebar-header" data-image="images/sb-bg-1.jpg">
    <span class="title fg-white">Metro 4 Components Library</span>
    <span class="subtitle fg-white"> 2019 © Ivan Vorontsov</span>
</div>

<ul class="sidebar-menu">
    <li><a><span class="mif-home icon"></span>Home</a></li>
    <li><a><span class="mif-books icon"></span>Guide</a></li>
    <li><a><span class="mif-files-empty icon"></span>Examples</a></li>
    <li class="divider"></li>
    <li><a><span class="mif-images icon"></span>Icons</a></li>
</ul>
