<div class="wrapper" [class.menu]="!menuHidden">
    <aside class="sidebar" data-role="sidebar">
        <div class="sidebar-header">
            <span class="title">Metro 4 Components Library</span>
            <span class="subtitle">2019 © Ivan Vorontsov</span>
        </div>
        <ul class="sidebar-menu">
            <li><a><span class="mif-home icon"></span>Home</a></li>
            <li><a><span class="mif-books icon"></span>Guide</a></li>
            <li><a><span class="mif-files-empty icon"></span>Examples</a></li>
            <li class="divider"></li>
            <li><a><span class="mif-images icon"></span>Icons</a></li>
        </ul>
    </aside>
    <div class="content">
        <div class="app-bar pos-absolute bg-red z-1" data-role="appbar">
            <button class="app-bar-item c-pointer" (click)="toggleMenu()">
                <span class="mif-menu fg-white"></span>
            </button>
        </div>
    </div>
</div>
