<div class="wrapper">

    <nav id="sidebar" [class.active]="menuVisible">
        <app-navigation></app-navigation>
    </nav>

    <div id="content" [class.active]="menuVisible">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="toggle_navigation" class="btn btn-info" (click)="toggleMenu()">
                    Toggle Menu
                </button>
            </div>
        </nav>
    </div>

</div>
