
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link rel="stylesheet" href="~/dist/metro/build/css/metro-all.min.css" />
</head>
<body>
    <app-root></app-root>
    <script src="~/Admin/runtime-es5.js" asp-append-version="true"></script>
    <script src="~/Admin/styles-es5.js" asp-append-version="true"></script>
    <script src="~/Admin/polyfills-es5.js" asp-append-version="true"></script>
    <script src="~/Admin/vendor-es5.js" asp-append-version="true"></script>
    <script src="~/Admin/main-es5.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/dist/metro/build/js/metro.js"></script>
</body>
</html>
