<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - exampleOfHangfire</title>
    @RenderSection("scripts", false)
    <style>
        html, body {
            margin: 0;
        }

        #appArea {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        canvas#appCanvas {
            position: absolute;
        }
    </style>
</head>
<body>
    <div id="appArea">
    </div>
    @RenderBody()
</body>
</html>
